.content {
	position: fixed;
	justify-content: center;
	background: #2d2d2d;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 1rem;
	z-index: 5;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(207, 207, 207, 0.45);
	z-index: 5;
}

.modalButton {
	margin: 1rem;
	display: flex;
	justify-content: space-around;
}

.modalButton p {
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
